.experience-section {
  min-height: 100vh;
  color: white;
}

.section-title {
  letter-spacing: 20px;
  font-size: 1.5rem;
}

.experience-scroll {
  scroll-snap-type: x mandatory;
  scrollbar-color: #394897 black;
  scrollbar-width: thin;
}

.experience-scroll::-webkit-scrollbar {
  height: 6px;
}

.experience-scroll::-webkit-scrollbar-track {
  background: black;
}

.experience-scroll::-webkit-scrollbar-thumb {
  background: #394897;
}